@media only screen and (min-width: 320px) and (max-width: 768px) {
    .mainTriplreyesports {
        div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        div {
            iframe {
                height: 25vh;
            }
        }
    }

    .mainNosotros {
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div {
            padding: 10px;
            img {
                height: 200px;
            }
        }
    }

    .mainTuespacio {
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
}
